@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body,
html {
	margin: 0;
	height: 100%;
	padding: 0;
	overflow-x: hidden;
}

h1,
h2,
h3 {
	margin: 0;
}

.container {
	width: 775px;
	margin: 0 auto;
	padding: 40px;
}

.button-container {
	margin-bottom: 20px;
	text-align: end;
}

.icon-switch {
	padding: 0;
	font-size: 20px;
	color: gray;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.icon-switch:hover {
	color: rgb(54, 53, 53);
}

.cards-view {
	display: none;
	/* display: grid; */
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.cards-view__item {
	width: 225px;
	height: 225px;
	padding: 10px;
	text-align: center;
	background-color: #f5f5f5;
}

.list-view__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 15px;
	background-color: #f5f5f5;
}

.list-view__item:not(:last-child) {
	margin-bottom: 20px;
}

.cards-view__item--name,
.list-view__item--name {
	margin-bottom: 7px;
	text-transform: uppercase;
}

.cards-view__item--color,
.list-view__item--color {
	font-size: 12px;
	color: gray;
}

.list-view__item--img-wrap {
	order: -1;
}

.cards-view__item--img {
	width: 150px;
	height: 150px;
}

.list-view__item--img {
	width: 100px;
	height: 100px;
}

.cards-view__item--price,
.list-view__item--price {
	margin-right: 50px;
	color: red;
}

.cards-view__item--button,
.list-view__item--button {
	padding: 5px 10px;
	font-size: 14px;
	color: red;
	text-transform: uppercase;
	border: 1px solid red;
	border-radius: 30px;
}
